{% extends 'base.html' %}
{% load static %}

{% block title %}КДС | О нас{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'website/css/about.css' %}">
{% endblock %}

{% block content %}
    <div class="header-container">
        <h1>О нас</h1>
        <img src="{% static 'website/images/logo/logo.png' %}" alt="logo">
    </div>
    <hr>

    <article>
        <h3>Информация о компании</h3>
        <p>
            "КДС" - это современный медицинский центр, расположенный в центре Минска, Беларусь. Мы специализируемся
            на предоставлении высококачественных медицинских услуг и заботимся о вашем здоровье и благополучии.
            Наш центр оборудован современным оборудованием и наша команда врачей и медицинских специалистов
            обладает богатым опытом и профессиональными навыками.
        </p>
        <p>
            Наши услуги включают в себя:
            <ul type="circle">
                <li>Общую медицинскую консультацию</li>
                <li>Диагностику и лечение различных заболеваний</li>
                <li>Хирургические вмешательства</li>
                <li>Лабораторные исследования</li>
                <li>Физиотерапию и реабилитацию</li>
                <li>Стоматологическое обслуживание</li>
                <li>Психологическую поддержку</li>
            </ul>
        </p>
        <p>
            Наша миссия - помогать нашим пациентам возвращаться к здоровью и обеспечивать
            им высокий уровень медицинской заботы.
        </p>
    </article>

    <article>
        <h3>История</h3>
        <p>
            "КДС" был основан в 1995 году в Минске группой выдающихся медицинских специалистов.
            С момента своего основания, центр стремился предоставлять лучшие медицинские услуги
            и внедрять новейшие медицинские технологии.
        </p>
        <ul type="square">
            <li>1995: Основание медицинского центра "КДС" в Минске.</li>
            <li>2000: Внедрение современного оборудования для диагностики и лечения.</li>
            <li>2010: Расширение специализаций и услуг, включая стоматологию и физиотерапию.</li>
            <li>2015: Открытие современной клиники и приобретение новых зданий.</li>
            <li>2020: Центр "КДС" признан одним из ведущих медицинских учреждений в регионе.</li>
        </ul>
        <p>
            Наша история - это история постоянного развития и стремления к лучшему
            в области медицинского обслуживания.
        </p>
    </article>

    <article>
        <h3>Реквизиты</h3>

        <ul type="disc">
            <li>Название: Медицинский Центр "КДС"</li>
            <li>Адрес: ул. Гикало, 9. Минск, Беларусь</li>
            <li>Телефон: +375 12 345-67-89</li>
            <li>Электронная почта: info@kdsmedical.by</li>
            <li>Официальный веб-сайт: www.kdsmedical.by</li>
            <li>Регистрационный номер: 12345678</li>
            <li>Руководитель: Кончик Денис Сергеевич, <br>нобелевский лауреат</li>
        </ul>
    </article>

    <div class="promo-video">
        <h3>Промо-ролик</h3>
        <video src="{% static 'website/video/promo.mp4' %}" loop controls muted autoplay>Video cannot be displayed</video>
    </div>

    <section>
        <h3>Сертификат</h3>
        <div class="certificate">
            <h4>Единый реестр медцентров</h4>
            <h4>Свидетельство</h4>
            <h5>ООО "КДС"</h5>
            <h5><u>Регистрационный номер: 12345678</u></h5>
            <h6>г. Минск, 11 сентября 2012</h6>
        </div>
    </section>

{% endblock %}