{% extends 'website/base.html' %}
{% load static %}

{% block title %}КДС | Отзывы{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'website/css/feedback-list.css' %}">
{% endblock %}

{% block content %}
    <h1>Отзывы</h1>
    <hr>
    <a href="{% url 'create-feedback' %}">Добавить отзыв</a><br><br>

    {% for feedback in feedbacks %}
        <div class="feedback">
            <mark>{{ feedback.date|date:"d.m.Y" }} {{ feedback.date|time:"H:i" }}</mark><br>
            Пациент: <i>{{ feedback.user.user.get_full_name}}</i><br>
            Оценка: <i>{{ feedback.rating }} / 5</i><br>
            Текст: <i class="text">{{ feedback.text }}</i>
        </div>
    {% empty %}
        <h3>Список отзывов пуст</h3>
    {% endfor %}
{% endblock %}