{% extends 'website/base.html' %}
{% load static %}

{% block title %}КДС | Вакансии{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'website/css/vacancies.css' %}">
{% endblock %}

{% block content %}
    <article>
        <h1>Вакансии</h1>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Должность</th>
                    <th>Опыт работы</th>
                    <th>Образование</th>
                    <th>Обязанности</th>
                    <th>График работы</th>
                    <th>Зарплата</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Врач-терапевт</td>
                    <td>От 3 лет</td>
                    <td>Высшее медицинское</td>
                    <td>Диагностика и лечение пациентов, предоставление рекомендаций</td>
                    <td>Полный рабочий день</td>
                    <td>1500 BYN</td>
                </tr>
                <tr>
                    <td>Медицинская сестра</td>
                    <td>От 1 года</td>
                    <td>Медицинское</td>
                    <td>Уход за пациентами, измерение показателей, участие в процедурах</td>
                    <td>Сменный график</td>
                    <td>900 BYN</td>
                </tr>
                <tr>
                    <td>Стоматолог</td>
                    <td>От 2 лет</td>
                    <td>Стоматологическое</td>
                    <td>Лечение зубов, проведение профилактических осмотров</td>
                    <td>Полный рабочий день</td>
                    <td>1800 BYN</td>
                </tr>
                <tr>
                    <td>Лаборант</td>
                    <td>От 1 года</td>
                    <td>Медицинское</td>
                    <td>Проведение анализов и исследований</td>
                    <td>Сменный график</td>
                    <td>850 BYN</td>
                </tr>
                <tr>
                    <td>Администратор</td>
                    <td>От 1 года</td>
                    <td>Высшее медицинское</td>
                    <td>Прием посетителей, запись на прием, оформление документов</td>
                    <td>Сменный график</td>
                    <td>1000 BYN</td>
                </tr>
                <tr>
                    <td>Фармацевт</td>
                    <td>От 2 лет</td>
                    <td>Фармацевтическое</td>
                    <td>Продажа и консультация по лекарствам и медицинским товарам</td>
                    <td>Полный рабочий день</td>
                    <td>1100 BYN</td>
                </tr>
                <tr>
                    <td>Рентгенолог</td>
                    <td>От 3 лет</td>
                    <td>Медицинское</td>
                    <td>Проведение рентгенологических исследований</td>
                    <td>Полный рабочий день</td>
                    <td>1700 BYN</td>
                </tr>
                <tr>
                    <td>Массажист</td>
                    <td>От 2 лет</td>
                    <td>Медицинское</td>
                    <td>Проведение массажных процедур для пациентов</td>
                    <td>Сменный график</td>
                    <td>1200 BYN</td>
                </tr>
                <tr>
                    <td>Психолог</td>
                    <td>От 3 лет</td>
                    <td>Психологическое</td>
                    <td>Консультирование пациентов, психотерапия</td>
                    <td>Полный рабочий день</td>
                    <td>1400 BYN</td>
                </tr>
                <tr>
                    <td>Акушер-гинеколог</td>
                    <td>От 5 лет</td>
                    <td>Высшее медицинское</td>
                    <td>Проведение акушерских и гинекологических процедур и операций</td>
                    <td>Полный рабочий день</td>
                    <td>2000 BYN</td>
                </tr>
                <!-- <tr>
                    <td colspan="6" style="text-align: center;">Сгенерированный текст для colspan = 6</td>
                </tr> -->
            </tbody>
        </table>

    </article>
{% endblock %}