.doctor-card {
    display: flex;
    margin-bottom: 20px;
    background-color: WhiteSmoke;
    border-radius: 10px;
}

.doctor-card .about {
    margin-left: 10px;
}

.doctor-card .image {
    width: 30%;
    border-radius: 10px;
}

.doctor-card .about .name {
    font-weight: bold;
    font-size: 1.5em;
}

.doctor-card .about .specializations {
    font-weight: bold;
    font-size: 1.2em;
    color: DimGray;
}

.doctor-card .about .property {
    color: #454545;
}