.doctor-card {
    display: flex;
    background-color: WhiteSmoke;
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid gray;
    width: 30%;
    margin: 10px;
}

.doctor-card:hover {
    transform: scale(1.1);
}
.doctor-card .about {
    margin: 10px;
}

.doctor-card .image {
    width: 30%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.doctor-card .about .name {
    font-weight: bold;
    font-size: 1.5em;
}

.doctor-card .about .specializations {
    font-weight: bold;
    font-size: 1.2em;
    color: DimGray;
}

.doctor-card .about .property {
    color: #454545;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;


}