.news-container {
    margin: 0 0 40px 0;
}
.news-container img {
    width: 40%;
    margin-right: 10px;
}

.news-container {
    display: flex;
    align-items: flex-start;
    width: 70%;
}

.news-container .content {
    text-align: justify;
}

.news-container h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.summary {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 700px;
}