{% extends 'stats/base_content.html' %}

{% block title %}Сводка по стоимости посещений{% endblock %}

{% block page_content %}
    <h1>Сводка по стоимости посещений</h1>

    <form method="GET">
        <div>
            <label for="patient_id">Пациент:</label>
            <select name="patient_id" id="patient_id">
                <option value="">Выберите пациента</option>
                {% for patient in patients %}
                    <option value="{{ patient.id }}" {% if patient.id == patient_id %}selected{% endif %}>
                        {{ patient.user.get_full_name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="start_date">Начальная дата:</label>
            <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
        </div>

        <div>
            <label for="end_date">Конечная дата:</label>
            <input type="date" name="end_date" id="end_date" value="{{ end_date }}">
        </div>

        <button type="submit">Показать</button>
    </form>


    <div>
        {% for doctor, cost in summary %}
            <ul>
                <li>Врач: {{ doctor.user.get_full_name }}</li>
                <li>Стоимость: ${{ cost }}</li>
            </ul>
        {% empty %}
            <h4>Пусто</h4>
        {% endfor %}
    </div>

{% endblock %}
