.aside-tab-container {
    display: flex;
    justify-content: flex-start;
}

.aside-tab-container aside {
    width: 15%;
}

.aside-tab-container .tab {
    width: 85%;
}


input:out-of-range {
    background-color: rgb(255, 0, 140);
}