{% extends 'website/base.html' %}
{% load static %}

{% block title %}КДС | Новости{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'news/css/news.css' %}">
{% endblock %}

{% block content %}
    <article>
        <h1>Новости</h1>
        <hr>
        {% for item in news %}
            <div class="news-container">
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="News Image">
                {% endif %}
                <div class="content">
                    <h2>{{ item.title }}</h2>
                    <mark>{{ item.publish_date|date:"d.m.Y" }} {{ item.publish_date|time:"H:i" }}</mark><br>
                    <div class="summary">{{ item.text }}</div>
                    <i><a href="{% url 'news_details' item.pk %}">Читать далее...</a></i>
                </div>
            </div>
        {% empty %}
            <h1>Список новостей пуст</h1>
        {% endfor %}
    </article>

    <div>
        <label><input type="checkbox" id="styleControls">&nbsp;Элементы управления</label>

        <div class="controls-container"></div>
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="{% static 'news/js/controls.js' %}"></script>
{% endblock %}