{% extends 'base.html' %}
{% load static %}

{% block title %}КДС | Новости{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'news/css/news.css' %}">
{% endblock %}

{% block content %}
    {% for item in news %}
        <div class="news-container">
            <h2>{{ item.title }}</h2>
            <div class="content">
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="News Image">
                {% endif %}
                <div class="summary">
                    {{ item.summary }}
                    <i><a href="{% url 'news_details' item.pk %}">Читать далее...</a></i>
                </div>
            </div>
        </div>
    {% empty %}
        <h1>Список новостей пуст</h1>
    {% endfor %}
{% endblock %}