{% extends 'base.html' %}
{% block title %}Запись{% endblock %}

{% block content %}
<h2>Услуга: "{{ service.name }}"</h2>
<h4>Стоимость: ${{ service.price }} </h4>
<h4>Врач: {{ doctor.user.get_full_name }} </h4>
<hr>
<form method="post" action="{% url 'create_order' %}">
    {% csrf_token %}
    <input type="hidden" name="service_id" value="{{ service.id }}">
    <input type="hidden" name="doctor_id" value="{{ doctor.id }}">

    {% if not schedules %}
        <h4>Врач не принимает </h4>
    {% else %}
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Дата приема</th>
            <th>День недели</th>
            <th>Время приема</th>
        </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
        <tr>
            <td>
                <input type="radio" name="schedule_id" value="{{ schedule.id }}">
            </td>
            <td>{{ schedule.date }}</td>
            <td>{{ schedule.date|date:"l" }}</td>
            <td>{{ schedule.start_time|date:"H:i" }} - {{ schedule.end_time|date:"H:i" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Записаться">
    {% endif %}
</form>

{% endblock %}

