@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');


.faq details p {
    font-style: italic;
}

.terms {
    margin-top: 20px;
}
.terms dl dd {
    margin-left: 2%;
}

dfn {
    font-family: 'Pixelify Sans', "Times New Roman", serif;
    font-style: normal;
}