@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');


.faq details p {
    font-style: italic;
}

.terms {
    margin-top: 20px;
}
.terms dl dd {
    margin-left: 2%;
}

dfn {
    font-family: 'Pixelify Sans', "Times New Roman", serif;
    font-style: normal;
}

summary + p {
    border: 2px dashed gray;
    border-radius: 10px;
    background-color: rgb(255, 225, 186);
    padding: 10px;
}

mark {
    background-color: violet;
}