.banner {
    width: 100%;
  
    animation: moveAndRotate 4s linear infinite;
    box-shadow: 0 0 30px 0 rgb(255, 56, 205);
    object-fit: cover;
    border-radius: 20px;
}

.news-container img {
    width: 40%;
    margin-right: 10px;
}

.news-container .content {
    display: flex;
    align-items: flex-start;
}

.news-container .content .summary {
    text-align: justify;
}

.partner-logo {
    width: 100px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 10px 10px 20px 0px red;
}

.our-partners a {
    text-decoration: none;
}

.name {
    font-kerning: normal;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

@keyframes moveAndRotate {
    0% {
      transform: translate(-1%, -2%) rotate(-1deg);
    }
    50% {
      transform: translate(1%, 2%) rotate(1deg);
    }
    100% {
        transform: translate(-1%, -2%) rotate(-1deg);
    }
  }


.news-container {
    position: relative;
    left: 200px;
    top: 40px;
    width: 70%;
}

.introduction > div {
    font-family: 'Courier New', Courier, monospace;
}

article[class^="introductio"] div {
    text-decoration: underline;
}

article[class$="ntroduction"] div {
    font-weight: bold;
}