.archive h3 {
    color: gray;
}

.promo-codes time {
    font-style: italic;
}

.archive {
    color: gray;
}

.archive ul {
    list-style-type: "\1F512   ";
}

h3::before, h3::after {
    content: "   \1F525   ";
}

.available li {
    list-style-type: "\26A1  ";
}
