* {
    font-family: Arial;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}




.table {
	width: 100%;
	border-collapse: collapse;

    text-align: center;
    vertical-align: middle;
}

.custom-table caption {
    font-weight: bold;
    text-align: center;
    caption-side: top;
}

.table th {
    font-weight: bold;
	padding: 5px;
	background: gainsboro;
	border: 1px solid #dddddd;
}

.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

.table td:empty {
  background-image: radial-gradient(red, green);
}

.table tbody tr:nth-child(even) {
    background-color:  #efefef;
}

.table tbody tr:nth-child(odd) {
    background-color: aliceblue;
}




.nav-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.nav-link {
    font-size: 130%;
}




footer {
    margin: 25px 0 25px 0;
    font-size: 0.9em;
    display: flex;
}

footer .calendar {
    margin-left: 20px;
}



a:link {
    color: DarkBlue;
}

a:visited {
    color: DarkMagenta;
}

a:hover {
    color: LimeGreen;
}

a:active {
    color: Crimson;
}

:focus {
    outline: 2px dashed rgb(255, 174, 0);
}



input:required {
    border: 2px solid red;
}

input:enabled {
    background-color: LightCyan;
}

input:focus {
    background-color: rgb(0, 255, 149);
}
input:disabled {
    opacity: 0.7; 
    border: 2px dashed black;
}


q:lang(en) {    
    quotes: "\201C" "\201D";   
}   

q:lang(fr) { 
    quotes: "\00AB" "\00BB";   
}


::selection {
    background-color: lightpink;
}

input[type="submit"], button {
    cursor: pointer; 
}

body {
    background-image: linear-gradient(to bottom, rgba(190,255,241), rgba(208,208,255), rgba(190,255,241));
}

@media (max-width: 1280px) or (max-height: 720px) {
    body {
        background-image: linear-gradient(to top, pink, gray, pink);
    }
}


.common-block {
    background-image: radial-gradient(rgb(255, 180, 218, 0.5) 40%, rgb(135, 227, 255, 0.5));
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(136, 217, 255, 0.5);
    margin: 20px 0px;
}

article[class="common-block"] {
    padding: 5px 20px;
}