* {
    font-family: Arial;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}




.table {
	width: 100%;
	border-collapse: collapse;
}

.table th {
    font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}

.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}





.nav-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.nav-link {
    font-size: 130%;
}




footer {
    margin: 25px 0 25px 0;
    font-size: 0.9em;
    display: flex;
}

footer .calendar {
    margin-left: 20px;
}



a:link {
    color: DarkBlue;
}

a:visited {
    color: DarkMagenta;
}

a:hover {
    color: LimeGreen;
}

a:active {
    color: Crimson;
}

:focus {
    outline: 2px dashed rgb(255, 174, 0);
}



input:required {
    border: 2px solid red;
}

input:enabled {
    background-color: LightCyan;
}

input:focus {
    background-color: rgb(0, 255, 149);
}
input:disabled {
    opacity: 0.7; 
    border: 2px dashed black;
}


q:lang(en) {    
    quotes: "\201C" "\201D";   
}   

q:lang(fr) { 
    quotes: "\00AB" "\00BB";   
}


::selection {
    background-color: lightpink;
}

input[type="submit"], button {
    cursor: pointer; 
}

body {
    background-image: linear-gradient(to bottom, rgba(190,255,241), rgba(208,208,255), rgba(190,255,241));
}

@media (max-width: 1280px) or (max-height: 720px) {
    body {
        background-image: linear-gradient(to top, pink, gray, pink);
    }
}