{% extends "website/base.html" %}


{% block title %}Профиль{% endblock %}

{% block content %}
<div class="row justify-content-center mb-5">
    <div class="col-md-6">


        <h2>Профиль</h2>
        <hr/>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <button type="submit" class="btn btn-outline-secondary">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}
