{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="row justify-content-center mb-5">
    <div class="col-md-6">


        <h2>Профиль</h2>
        <hr/>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.first_name %}
                    {% bootstrap_field form.experience %}
                    {% bootstrap_field form.specializations %}

                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.last_name %}
                    {% bootstrap_field form.category %}
                    {% bootstrap_field form.types %}

                </div>
            </div>
            {% bootstrap_field form.academic_degree %}
            {% bootstrap_field form.photo %}
            <button type="submit" class="btn btn-outline-secondary">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}
