{% extends "patients/personal-area-generic.html" %}

{% block tab %}
    <h1>Отзыв</h1>
    <hr>
    <form method="post" action="{% url 'create-feedback' %}">
        {% csrf_token %}
        <label>
            Оценка (1-5): <input type="number" name="rating" min="1" max="5" required>
        </label>
        <br>
        <label for="textarea">Текст (макс. 500 символов):</label><br>
        <textarea id="textarea" name="text" rows="4" cols="50" maxlength="500" required></textarea>
        <br><br>
        <input type="submit" value="Отправить!!!">
    </form>
{% endblock %}
