{% extends 'website/base.html' %}
{% load doctors_tag %}s
{% load static %}

{% block title %}{{ category.name }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'services/css/styles.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ category.name }}</h1>
    <hr>

    {% if category.image %}
        <div class="image-container">
            <img src="{{ category.image.url }}" alt="{{ category.name }}" class="category-image">
        </div>
    {% endif %}

    <p>{{ category.description }}</p>

    {% for subcategory in subcategories %}
        <details>
            <summary>{{ subcategory.name }}</summary>
            {% if subcategory.service_set.all %}
                <table class="table">
                    <tbody>
                        {% for service in subcategory.service_set.all %}
                            <tr>
                                <td>{{ service.name }}</td>
                                <td>${{ service.price }}</td>
                                {% if user.is_authenticated %}
                                <td>
                                    <a href="{% url 'select_doctor' service.id %}" class="btn btn-outline-secondary">Записаться</a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <span>Нет услуг в данной категории</span>
                {% endif %}
        </details>
    {% endfor %}

    <hr />
    {% get_doctors service_category_slug=category.slug %}
{% endblock %}