{% extends 'website/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'services/css/category-list.css' %}">
{% endblock %}

{% block title %}Направления{% endblock %}

{% block content %}
    <h1>Направления</h1>
    <hr/>

    <div class="grid-container">
        {% for category in category_list %}
            <div class="card">
                <a href="{% url 'category_detail' slug=category.slug %}">
                    <div class="card-img">
                        {% if category.image %}
                            <img src="{{ category.image.url }}" alt="Category photo" class="card-img-top">
                        {% else %}
                            <img src="https://via.placeholder.com/500x500?text=No+Image" alt="No Image">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <span class="card-title">{{ category.name }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}


{% block scripts %}
    <script src="{% static 'services/js/category-list.js' %}"></script>
{% endblock %}
